<!-- start custom head snippets -->


<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Merienda|Share+Tech+Mono&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Life+Savers&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Port+Lligat+Sans&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">


<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
